#toggle-gui {
    color: #777;
    cursor: pointer;
    transition: 0.2s;
}

#toggle-gui:hover {
    color: white;
}


/* no focus */

*:focus {
    outline: none;
}


/* no arrows input number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number] {
    width: 30px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 7px;
    color: white;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    background: #444;
    font-family: "Roboto Mono", monospace;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.golden {
    color: rgb(238, 232, 145)
}

.top-left {
    text-align: left;
    position: absolute;
    top: 8px;
    left: 16px;
    width: 20%;
}

.top-middle {
    text-align: right;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    text-align: right;
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-middle {
    position: absolute;
    bottom: 8px;
    text-align: center;
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
    .overlay {
        max-width: 700px;
    }
    h1,
    h2,
    h3 {
        margin-top: 0.5em;
        margin-bottom: 0.3em;
    }
    .desktop {
        display: initial !important;
    }
    .mobile {
        display: none !important;
    }
}

p {
    text-align: left;
    margin: 0;
}

#latest-list {
    height: 500px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#latest-list::-webkit-scrollbar {
    display: none;
}

.transaction {
    transition: 0.8s;
    margin-bottom: 10px;
    cursor: pointer;
}

.hidden {
    color: #888;
}

a,
a:visited {
    color: white;
    transition: 0.2s;
    border-radius: 10px;
    padding: 0 5 3 5;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.26);
}